.headline {
  font-size: 2.9rem;

  font-weight: 300;
  color: $mainBlue;

  @include atSmall {
    font-size: 2.875rem;
  }
  &__centred {
    text-align: center;
  }
  &__orange {
    color: $mainOrange;
  }
  &__small {
    font-size: 1.2rem;

    @include atSmall {
      font-size: 1.875rem;
    }
  }
  &__narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &__light {
    font-weight: 100;
  }
}
